:root {
    --monitor-top: 50px;
}

.log-panel {
    position: fixed;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgba(200,200,200,0.5);
    transition: 0.5s;
    z-index: 1;
}

#monitor {
    top: var(--monitor-top);
    padding-top: 20px;
    left: 0px;
    transform-origin: 0% 0% 0;
}

#eventlog {
    bottom: 0px;
    padding-bottom: 20px;
    left: 0px;
    transform-origin: 0% 100% 0;
}

.log-box .open-close {
    display: none;
    width: 10px;
    height: 10px;
}

.open-close:checked + .log-panel {
    overflow: hidden;
    opacity: 0;
    transform: scale(0);
    transition: 0.5s;
}


.log-box .open-close-label {
    position: fixed;
    width: 15px;
    height: 15px;
    background-color: rgba(64, 250, 64, 0.5);
    border: solid 1px;
    border-radius: 3px;
    z-index: 2;
}

#open-close-label-monitor {
    top: calc(var(--monitor-top) + 8px);
}

#open-close-label-eventlog {
    bottom: 8px;
}
