#panel {
    position: fixed;
    background: #c3f3b7;
    left: 0px;
    width: 250px;
    height: 100%;
    border: 2px;
    overflow: auto;
}

#viewer {
    position: fixed;
    border: 0px;
    right: 0px;
    width: calc(100% - 250px);
    height: 100%;
}
